@model IEnumerable<PropertyPortfolioManager.Models.Model.Property.PortfolioModel>

@{
    ViewData["Title"] = "Portfolios";
}

<h1>Portfolios</h1>

<div class="row">
    <div class="col">
        <a asp-action="Create">Create New</a>
    </div>
    <div class="col">
        @if (ViewBag.ActiveOnly)
        {
                <a class="float-end" asp-action="Index" asp-route-activeOnly="false">Include Inactive</a>
        }
        else
        {
                <a class="float-end" asp-action="Index" asp-route-activeOnly="true">Hide Inactive</a>
        }
            </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @if (!ViewBag.ActiveOnly)
            {
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>              
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (!ViewBag.ActiveOnly)
            {
            <td>
                @(item.Active ? "Active" : "Inactive")
            </td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Select Portfolio", "SelectPortfolio", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
