@page "/bankaccount"

@if (Initialising)
{
    <p><em>Loading...</em></p>
}
else
{
    <SectionContent SectionName="top-bar">
        <label for="accountid" class="col-form-label col-md-2">Account Id: </label>
        <div class="col-md-4">
            <InputSelect id="account" class="form-select col-md-8" @bind-Value="@accountId">
                @foreach (var account in accounts)
                {
                    <option value="@account.Id">@account.AccountName</option>
                }
            </InputSelect>
        </div>
    </SectionContent>

    <div class="page-content">
        <div class="row mb-3">
            <label for="fromdate" class="col-form-label col-md-2">From date: </label>
            <div class="col-md-4">
                <InputDate id="fromdate" @bind-Value="@fromDate" class="form-control col-md-8" placeholder="Enter from date" autocomplete="off"></InputDate>
            </div>

            <label for="todate" class="col-form-label col-md-2">To date: </label>
            <div class="col-md-4">
                <InputDate id="todate" @bind-Value="@toDate" class="form-control col-md-8" placeholder="Enter to date" autocomplete="off"></InputDate>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-end">
                <button type="button" class="btn btn-outline-primary" @onclick="() => PopulateTransactionListAsync()">Filter</button>
            </div>
        </div>
    </div>

    <div class="page-content table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="d-none d-md-table-cell">
                        Date
                    </th>
                    <th>
                        Description
                    </th>
                    <th class="d-none d-md-table-cell text-end text-nowrap">
                        Money in
                    </th>
                    <th class="d-none d-md-table-cell text-end text-nowrap">
                        Money out
                    </th>
                    <th class="d-block d-md-table-cell-none text-end">
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in transactionDetails)
                {
                    <tr>
                        <td class="d-none d-md-table-cell text-nowrap">
                            @transaction.Date.ToString("dd MMM yyyy")
                        </td>
                        <td>
                            @transaction.Description<br />
                            @transaction.Reference
                            <span class="d-block d-md-none fw-bold">
                                @transaction.Date.ToString("dd MMM yyyy")
                            </span>
                        </td>
                        <td class="d-none d-md-table-cell text-nowrap text-end">
                            @if (transaction.Credit > 0)
                            {
                                @string.Format("{0:N2}", transaction.Credit)
                            }
                        </td>
                        <td class="d-none d-md-table-cell text-nowrap text-end">
                            @if (transaction.Debit > 0)
                            {
                                @string.Format("{0:N2}", transaction.Debit)
                            }
                        </td>
                        <td class="d-block d-md-table-cell-none text-end">
                            @string.Format("{0:N2}", transaction.Credit - transaction.Debit)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
