@page "/tenancytypeedit"
@page "/tenancytypeedit/{TenancyTypeId}"

@if (!Saved)
{
    <section class="">
        @if (TenancyType.Id == 0)
        {
        <SectionContent SectionName="top-bar">
                <div>New Tenancy Type</div>
        </SectionContent>
        }
        else
        {
        <SectionContent SectionName="top-bar">
            <div>Details for @TenancyType.Type</div>
        </SectionContent>
        }
        <div class="page-content">
            <EditForm Model="@TenancyType" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="row mb-3">
                    <label for="type" class="col-form-label col-md-3">Type: </label>
                    <div class="col-md-8">
                        <InputText id="type" @bind-Value="@TenancyType.Type" class="form-control col-md-8" placeholder="Enter type"
                                   autocomplete="off"></InputText>
                    </div>
                    <ValidationMessage class="offset-md-3 col-md-8" For="@(() => TenancyType.Type)" />
                </div>

                <div class="row mb-3">
                    <div class="col-md-8 offset-md-3">
                        <div class="form-check">
                            <InputCheckbox id="active" class="form-check-input" @bind-Value="@TenancyType.Active"></InputCheckbox>
                            <label class="form-check-label" for="active">
                                Active
                            </label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary me-1">Save tenancy type</button>

                @if (TenancyType.Id > 0)
                {
                    <button type="button" class="btn btn-danger my-1" @onclick="@DeleteTenancyType">
                        Delete
                    </button>
                }
                <button type="button" class="btn btn-outline-primary" @onclick="@NavigateToList">Back to list</button>

            </EditForm>
        </div>
    </section>
}
else
{
    <div class="alert @StatusClass">@Message</div>
    <button type="button" class="btn btn-outline-primary ms-1" @onclick="@NavigateToList">Back to list</button>
}