@page "/unitedit"
@page "/unitedit/{UnitId}"

@if (!Saved)
{
    <section class="">
        @if (UnitModel.Id == 0)
        {
            <h1 class="page-title">New Unit</h1>
        }
        else
        {
            <h1 class="page-title">Details for @UnitModel.Code</h1>
           
        }
        <EditForm Model="@UnitModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row mb-3">
                <label for="code" class="col-form-label col-md-3">Code: </label>
                <div class="col-md-8">
                    <InputText id="code" @bind-Value="@UnitModel.Code" class="form-control col-md-8" placeholder="Enter code"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => UnitModel.Code)" />
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-3">
                    <div class="form-check">
                        <InputCheckbox id="active" class="form-check-input" @bind-Value="@UnitModel.Active"></InputCheckbox>
                        <label class="form-check-label" for="active">
                            Active
                        </label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary me-1">Save unit</button>

            @if (UnitModel.Id > 0)
            {
                <button type="button" class="btn btn-danger my-1" @onclick="@DeleteUnit">
                    Delete
                </button>
            }
            <button type="button" class="btn btn-outline-primary" @onclick="@NavigateToList">Back to list</button>

        </EditForm>
    </section>
}
else
{
    <div class="alert @StatusClass">@Message</div>
    <button type="button" class="btn btn-outline-primary ms-1" @onclick="@NavigateToList">Back to list</button>
}