@page "/unittypeedit"
@page "/unittypeedit/{UnitTypeId}"

@if (!Saved)
{
    <section class="">
        @if (UnitType.Id == 0)
        {
            <h1 class="page-title">New Unit Type</h1>
        }
        else
        {
            <h1 class="page-title">Details for @UnitType.Type</h1>
           
        }
        <EditForm Model="@UnitType" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row mb-3">
                <label for="type" class="col-form-label col-md-3">Type: </label>
                <div class="col-md-8">
                    <InputText id="type" @bind-Value="@UnitType.Type" class="form-control col-md-8" placeholder="Enter type"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => UnitType.Type)" />
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-3">
                    <div class="form-check">
                        <InputCheckbox id="active" class="form-check-input" @bind-Value="@UnitType.Active"></InputCheckbox>
                        <label class="form-check-label" for="active">
                            Active
                        </label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary me-1">Save unit type</button>

            @if (UnitType.Id > 0)
            {
                <button type="button" class="btn btn-danger my-1" @onclick="@DeleteUnitType">
                    Delete
                </button>
            }
            <button type="button" class="btn btn-outline-primary" @onclick="@NavigateToList">Back to list</button>

        </EditForm>
    </section>
}
else
{
    <div class="alert @StatusClass">@Message</div>
    <button type="button" class="btn btn-outline-primary ms-1" @onclick="@NavigateToList">Back to list</button>
}