@page "/unitedit"
@page "/unitedit/{UnitId}"

@if (!Saved & !Initialising)
{
    if (DocumentSelectVisible)
    {
        <div class="modal d-block" tabindex="-1" role="dialog">
            <div class="modal-dialog document-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@HideImageSelection">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <Documents SelectFileMode="true" FileSelected="MainImageSelected" SelectImagesOnly=true></Documents>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="@HideImageSelection" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <section class="">
         @if (UnitModel.Id == 0)
        {
            <h1 class="page-title">New Unit</h1>
        }
        else
        {
            <h1 class="page-title">Details for @UnitModel.Code</h1>
           
        }
        <EditForm Model="@UnitModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row mb-3">
                <div class="col-md-3">
                    <img class="image-fill" src="data:image/png;base64, @UnitModel.MainPictureBase64" />
                </div>
                <div class="col-md-8">
                    <button type="button" class="btn btn-outline-primary" @onclick="@ShowImageSelection">Select new image</button>
                </div>
            </div>

            <div class="row mb-3">
                <label for="code" class="col-form-label col-md-3">Code: </label>
                <div class="col-md-8">
                    <InputText id="code" @bind-Value="@UnitModel.Code" class="form-control col-md-8" placeholder="Enter code" autocomplete="off"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => UnitModel.Code)" />
            </div>

            <div class="row mb-3">
                <label for="address_streetaddress" class="col-form-label col-md-3">Street address: </label>
                <div class="col-md-8">
                    <InputText id="address_streetaddress" @bind-Value="@UnitModel.Address.StreetAddress" class="form-control col-md-8" placeholder="Enter street address" autocomplete="off"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => UnitModel.Address.StreetAddress)" />
            </div>

            <div class="row mb-3">
                <label for="address_towncity" class="col-form-label col-md-3">Town/City: </label>
                <div class="col-md-8">
                    <InputText id="address_towncity" @bind-Value="@UnitModel.Address.TownCity" class="form-control col-md-8" placeholder="Enter town/city" autocomplete="off"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => UnitModel.Address.TownCity)" />
            </div>

            <div class="row mb-3">
                <label for="address_countyregion" class="col-form-label col-md-3">County/Region: </label>
                <div class="col-md-8">
                    <InputText id="address_countyregion" @bind-Value="@UnitModel.Address.CountyRegion" class="form-control col-md-8" placeholder="Enter county/region" autocomplete="off"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => UnitModel.Address.CountyRegion)" />
            </div>

            <div class="row mb-3">
                <label for="address_postcode" class="col-form-label col-md-3">Postcode: </label>
                <div class="col-md-8">
                    <InputText id="address_postcode" @bind-Value="@UnitModel.Address.PostCode" class="form-control col-md-8" placeholder="Enter postcode" autocomplete="off"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => UnitModel.Address.PostCode)" />
            </div>
            
            <div class="row mb-3">
            <label for="unittype" class="col-form-label col-md-3">Unit type: </label>
                <div class="col-md-8">
                    <InputSelect id="unittype" class="form-select col-md-8" @bind-Value="@UnitModel.UnitTypeId">
                        @foreach (var unittype in unittypes)
                        {
                        <option value="@unittype.Id">@unittype.Type</option>
                        }
                    </InputSelect>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-8 offset-md-3">
                    <div class="form-check">
                        <InputCheckbox id="active" class="form-check-input" @bind-Value="@UnitModel.Active"></InputCheckbox>
                        <label class="form-check-label" for="active">
                            Active
                        </label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary me-1">Save unit</button>

            @if (UnitModel.Id > 0)
            {
                <button type="button" class="btn btn-danger my-1" @onclick="@DeleteUnit">
                    Delete
                </button>
            }
            <button type="button" class="btn btn-outline-primary" @onclick="@NavigateToList">Back to list</button>

        </EditForm>
    </section>
}
else if (Initialising)
{
    <p>Loading data...</p>
}
else
{
    <div class="alert @StatusClass">@Message</div>
    <button type="button" class="btn btn-outline-primary ms-1" @onclick="@NavigateToList">Back to list</button>
} 