@model PropertyPortfolioManager.Models.Model.Property.UnitResponseModel

@{
    ViewData["Title"] = "Property";
}

<h1>@Model.Code - @Model.Address.StreetAddress</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.TownCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.TownCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.TownCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.TownCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.PostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
